<p id="notice"><%= notice %></p>

<p>
  <strong>Infraction:</strong>
  <%= @infraction.infraction %>
</p>

<%= link_to 'Edit', edit_infraction_path(@infraction) %> |
<%= link_to 'Back', infractions_path %>
