// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,900,900italic);
* {
  font-family: 'Roboto', sans-serif;
}
.gamebox {
  border: 3px solid black;
  width: 200px;
  font-size: 22px;
  display: inline-block;

}
.gamebox .gameboxHeader {
  background-color: black;
  color: white;
  padding: 3px;
  margin-bottom: 5px;

}
.gamebox ~ td {
  font-size: 22px
}
.gbTable {
  font-size: 22px;
}
.gamebox .gbTeam {
  width: 340px;
  font-size: inherit;
}

.gamebox p {
 font-size: inherit;
 margin-top: 7px;

}
.gbFooter {
  margin-top: 10px;
  bottom: 0px;
}

.gbFootItem {
  display: inline-block;
  bottom: 0px;
}
.gbFootItem:last-of-type {
  display: inline-block;
  bottom: 0px;
  right: 0px;
}
ul .ribbon {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul .ribbon li {
  display: inline;
}
